#header {
  background-color: #fff;
}

#navbar {
  padding-top: 50px;
  padding-bottom: 30px;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #FFF;
  opacity: 0.9;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu {
  display: none;
}

.nav__menu a {
  color: #4F5665;
  font-size: 16px;
  font-weight: 400;
}

.nav__logo a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav__logo h3 {
  color: #0B132A;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.navbar-shrink {
  margin-top: -30px;
  margin-bottom: -50px;
  box-shadow: 5px 0 10px 3px #000;
  transition: .5s;
}

#navbar-responsive {
  position: fixed;
  background: url(../images/background.png);
  background: #fff;
  top: 0;
  bottom: 0;
  left: -100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.res-nav-list {
  list-style-type: none;

}

.res-nav-item {
  margin: 30px 0px;
  text-align: center;

}

.res-nav-link {
  font-size: 30px;
  color: #000;
  text-decoration: none;

}

.res-nav-btn {
  padding: 10px 20px;
  font-size: 30px;
}

#navbar-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* home section */

#home {
  padding-top: 70px;
}

.home__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 50px;
}

.home__left h1 {
  color: #0B132A;
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
}

.home__left p {
  color: #4F5665;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.home__btn {
  position: relative;
}

.btn__red {
  border-radius: 10px;
  background: #F53838;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  /* padding: 17.5px 77.5px; */
  padding: 10px 40px;
  border: none;
}

.blur {
  position: absolute;
  bottom: -25.9px;
  left: 0;
  filter: blur(27px);
  border-radius: 10px;
  background: rgba(245, 56, 56, 0.35);
}

.home__right img {
  width: 100%;
  /* transform: translateX(68px);
  transform: scale(1.2); */
}